
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
}


header {
    background-color: white;
    color: #6b7280;
    font-size: 18px;
    padding: 10px 0; 
}

header h1{
    font-size: 18px;
}

nav{
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

nav a {
    text-decoration: none;
    color: #6b7280;
}

nav a:hover {
  color: #5A67D8;
  display: block;
}

nav li {
    display: inline;
    margin-left: 10px; 
    float: left;
}

.overview-hero {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #E2E8F0;
    height: 350px;
    margin-bottom: 30px;
}

.overview-hero-image {
    flex: 1;
    float: left;
    padding: 20px;
    padding-right: 120px;
}

.overview-hero-text {
    flex: 1;
    padding: 80px;
    margin-left: 100px;
}

.learn-about .cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #E2E8F0;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

.card h3 {
  color: #48BB78;
  font-size: 21px;
}

.learn-about h2 {
  color: #48BB78;
  font-size: 24px;
}

.testing {
  align-items: center;
  background-color: #4A5568;
  height: 400px;
  color: white;
  justify-content: center;
  margin-top: 45px;
}

.testing-desciption {
  float: left;
  width: 700px;
  padding-top:150px ;
}

.cta {
  text-align: right;
  margin-top: 50px;
  padding-top:150px ;
}

.cta a.btn {
  background-color: #48BB78;
  border-radius: 5px;
}

.stories {
  padding: 40px 0;
  align-items: center;
  margin-top: 60px;
}

article {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

}

.stories img {
  width: 200px; 
  height: 200px;  
  border-radius: 50%; 
  margin-top: 40px;

}

.article-body {
  flex: 1;
  margin-left: 20px;
  padding-left: 30px;

}

.stories h2, .article-body a {
  color: #5A67D8;
  font-size: 18px;
  text-decoration: none;

}

.newsletter {
  text-align: center;
  background-color: #48BB78;
  color: white;
  padding: 40px 0;
}

.form-group {
  display: inline-block;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #ddd;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: left;
}

/* Additional Styling */
h1, h2, h3 {
  margin: 0;
}

.btn {
  background-color: #5A67D8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}



